@forward "../../node_modules/swiper/swiper-bundle.min.css";
@use "./mixins/" as mix;
@forward "base";

// Tailwind if needed
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "larken", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}
.section-colorway-img {
  background: var(--bg-img) center / cover no-repeat;
}

@media (max-width: 1438px) and (min-width: 715px) {
  .section-colorway-img {
    background-image: var(--bg-img-medium, --bg-img);
  }
}

@media (max-width: 714px) {
  .section-colorway-img {
    background-image: var(--bg-img-small, --bg-img-medium, --bg-img);
  }
}
.max-container {
  @apply 6xl:w-[80vw] 6xl:m-auto 6xl:px-0;
}
.full-max-container {
  @apply 6xl:w-[80vw] 6xl:m-auto;
}

// Button
.primary-btn {
  @apply flex gap-1.5 text-white no-underline w-max cursor-pointer;
  &.white {
    @apply text-white;
    .btn-text {
      @apply bg-white rounded-full text-darkblue after:bg-white;
    }
    .btn-arrow {
      @apply bg-white after:bg-white;
      .icon-arrow-right {
        &::before {
          @apply text-darkblue;
        }
      }
    }
  }

  &.orange {
    @apply text-black;
    .btn-text {
      @apply bg-orange  after:bg-orange text-black;
    }
    .btn-arrow {
      @apply bg-orange after:bg-orange;
      .icon-arrow-right {
        &::before {
          @apply text-black;
        }
      }
    }
  }
  &.bordered {
    .btn-text {
      @apply bg-transparent text-darkblue border-darkblue border-solid border transition-all duration-500;
      &:after {
        @apply bg-transparent;
      }
    }
    .btn-arrow {
      @apply bg-transparent text-darkblue border-darkblue border-solid border transition-all duration-500;
      &:after {
        @apply bg-transparent;
      }
    }
    &:hover {
      .btn-text {
        @apply border-transparent bg-darkblue text-white;
        &:after {
          @apply rounded-tr-none rounded-br-none translate-x-[1.725rem];
        }
      }
      .btn-arrow {
        @apply border-transparent bg-darkblue text-white;
        &:after {
          @apply translate-x-[-0.625rem] rounded-tl-none rounded-bl-none w-[3rem];
        }
      }
    }
  }
  &:hover {
    .btn-text {
      //@apply translate-x-[0.16rem];
      &:after {
        @apply rounded-tr-none rounded-br-none translate-x-[1.725rem];
      }
    }
    .btn-arrow {
      &:after {
        @apply translate-x-[-0.625rem] rounded-tl-none rounded-bl-none w-[3rem];
      }
    }
  }
  span {
    span {
      @apply z-10 relative leading-none;
    }
  }
  .btn-text {
    @apply justify-center px-5 py-3 h-[2.813rem] text-base font-medium leading-5 capitalize bg-darkblue rounded-full text-white relative  transition-all duration-700 after:content-[''] after:absolute after:bg-darkblue  after:size-full after:left-0 after:top-0  after:rounded-full after:transition-all after:duration-700;
  }
  .btn-arrow {
    @apply bg-darkblue rounded-full w-[2.813rem] h-[2.813rem] items-center justify-center flex relative after:content-[''] after:absolute after:bg-darkblue  after:size-full after:left-0 after:top-0  after:rounded-full after:transition-all after:duration-700;
  }
}

// swiper

body {
  .swiper-pagination-progressbar {
    &.white {
      height: 1px !important;
      @apply bg-mediumblue;
      .swiper-pagination-progressbar-fill {
        @apply bg-white;
      }
    }
    height: 2px !important;
    @apply bg-lightgray;
    .swiper-pagination-progressbar-fill {
      @apply bg-darkblue;
    }
  }
  .swiper-button-disabled {
    @apply opacity-50;
  }
}

body {
  .swiper-pagination {
    .swiper-pagination-bullet {
      @apply w-[3.75rem] rounded-sm h-0.5 bg-black/10 opacity-100 mr-0 ml-5;
      @include mix.breakpoint(767) {
        @apply w-[2.5rem];
      }
      &.swiper-pagination-bullet-active {
        @apply bg-black;
      }
    }
  }
}

// Overlay
.overlay {
  @apply absolute pointer-events-none z-[1] bg-gradient-to-t from-black opacity-40 to-transparent  size-full inset-0;
  &.full-overlay {
    @apply to-black opacity-20;
  }
  &.blurred {
    @apply backdrop-blur-[0.625rem];
  }
}

// Grid Block

.grid-block {
  .col {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      @apply col-span-2;
      a {
        @apply w-[calc(50%-0.625rem)];
      }
    }
    &:nth-child(6),
    &:nth-child(7) {
      @apply items-end;
    }
    @include mix.breakpoint(992) {
      &:nth-child(3) {
        @apply col-span-2;
        a {
          @apply w-[calc(50%-0.625rem)];
        }
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        @apply col-span-1;
        a {
          @apply w-full;
        }
      }
    }
  }
}
.mobile-device {
  .grid-block {
    .col {
      a {
        @apply w-full;
      }
    }
  }
}

// slide tab overwrite
.tab-content {
  .swiper-slide {
    pointer-events: none !important;
    &.swiper-slide-active {
      pointer-events: inherit !important;
      .solution-slider,
      .gallery-slider {
        .swiper-slide {
          pointer-events: inherit !important;
        }
      }
      .sector-listing {
        pointer-events: inherit !important;
      }
    }
  }
}

//product list
.sector-listing {
  .primary-btn {
    @include mix.min-breakpoint(1200) {
      @apply gap-2;
    }
  }
  .row {
    &:nth-child(2) {
      @apply justify-start;
      .group {
        @apply h-[25rem] w-[41.5%];
        @include mix.breakpoint(1200) {
          @apply h-auto w-full flex-row-reverse;
        }
        @include mix.breakpoint(767) {
          @apply h-auto w-full flex-col;
          img {
            @apply h-[calc(62vw-2.5rem)];
            @include mix.breakpoint(992) {
              @apply h-[calc(83vw-2.5rem)];
            }
            @include mix.breakpoint(767) {
              @apply h-[calc(100vw-2.5rem)];
            }
          }
        }
        &:hover {
          @include mix.min-breakpoint(1200) {
            img {
              @apply translate-x-[9.5rem];
            }
            .product-desc {
              @apply lg:translate-x-0;
            }
          }
        }
      }
      .product-desc {
        @apply lg:right-auto lg:left-0 lg:-translate-x-full;
      }
    }
  }
}

// Home banner
.banner-block {
  .banner-free-slide {
    br {
      @apply hidden;
    }
  }
}

// Progress slide block
.progress-slide-block {
  &.light-bg {
    @include mix.breakpoint(767) {
      @apply mb-0;
    }
    .content-block {
      @apply bg-lavendermist text-black;
    }
    .c-block {
      //@apply hidden;
    }
    .left,
    .right {
      @apply w-1/2;
      @include mix.breakpoint(767) {
        width: 100%;
      }
    }
    .right {
      .swiper-pagination-progressbar {
        height: 1px !important;
      }
      h3 {
        @apply text-xl leading-7;
      }
      .prose {
        @apply text-black;
      }
    }
    .btn-wrap {
      button {
        @apply border-darkblue;
        &:hover {
          @apply bg-darkblue text-white;
        }
      }
    }
  }
}

// Brightness invert

.img-invert {
  filter: invert(100%) brightness(200%);
}

// Header

body {
  &:not(.home) {
    header {
      .header-wrap {
        clip-path: none;
      }
    }
  }
  // &.blue-header {
  //   header {
  //     .header-wrap {
  //       .header-inner {
  //         @apply bg-darkblue backdrop-blur-[0] border-none;
  //       }
  //     }
  //   }
  // }
}

// Input

input {
  @apply outline-none;
}

// Product list

.mobile-tablet-device {
  .product-list {
    .image {
      @apply scale-75 -translate-y-8;
      @include mix.breakpoint(1200) {
        @apply scale-75 -translate-y-4;
        @include mix.breakpoint(767) {
          @apply -translate-y-0;
        }
      }
    }
    .desc {
      height: auto !important;
    }
  }
}

// Sectors listing

.sectors-listing {
  section {
    &:nth-child(even) {
      @apply bg-lightblue;
      .line-bar {
        @apply opacity-0;
      }
    }
  }
}

// Sticky image block

.sticky-img-block.mob-tablet {
  @apply hidden;
}
.mobile-tablet-device {
  .sticky-img-block.desktop {
    @apply hidden;
  }
  .img-content-block.mob-tablet {
    @apply flex;
  }
}

.sticky-img-block.desktop {
  @apply max-lg:hidden;
}
.img-content-block.mob-tablet {
  @apply max-lg:flex;
}

// Banner
.inner-banner {
  &.no-banner {
    @apply h-auto min-h-[25rem];
    @include mix.breakpoint(767) {
      @apply min-h-0;
    }
    .inner-banner-content {
      @apply text-black;
      h1 {
        @apply pb-12;
        @include mix.breakpoint(767) {
          @apply pb-5;
        }
      }
    }
    &.detail-banner {
      @apply md:text-center;
      .breadcrumb-wrap {
        @apply md:flex md:justify-center md:mb-20;
      }
      h1 {
        @apply text-[2.5rem] max-md:text-[1.625rem] leading-10 max-md:leading-8 pb-0;
      }
    }
    &.for-event {
      .title-section {
        @apply text-left flex max-md:flex-col justify-between  max-md:gap-5 gap-20;
      }
      .title-block {
        @apply w-[58%] max-sl:w-1/2 max-md:w-full;
      }
    }
  }
  &:not(.for-event, .detail-banner) {
    h1 {
      @apply sl:pr-[10%];
    }
  }
}

//Thank you & Inner banner

.inner-banner.no-banner,
.thank-you-block {
  .breadcrumb-wrap {
    @apply mb-5;
    .breadcrumb-list {
      @apply text-black/40;
      li {
        img {
          @apply brightness-[0.5] opacity-100;
        }
      }
    }
    .breadcrumb-list > span {
      @apply truncate max-w-[85vw];
    }
  }
}

// Image hover block

.img-hover-block {
  &.type-two {
    @apply bg-lightblue;
    .image-wrap {
      .flex {
        @apply p-0;
        img {
          @apply w-full h-full object-cover;
        }
      }
    }
    .col {
      @apply max-md:p-0 max-md:aspect-auto;
      img {
        @apply w-full h-[14rem] object-cover;
      }
    }
    .item {
      .primary-btn {
        @apply hidden;
      }
    }
    .primary-btn {
      @extend .bordered;
    }
  }
}

// Default text block
.text-block {
  @apply prose prose-p:text-base max-md:prose-p:text-[0.875rem] prose-p:leading-6  prose-p:text-black/80 prose-ul:text-black/80 max-md:prose-ul:text-[0.875rem] prose-ol:text-black/80 max-md:prose-ol:text-[0.875rem] prose-headings:font-medium prose-a:cursor-pointer prose-a:no-underline prose-a:font-medium prose-a:transition-all prose-a:duration-700  max-w-full prose-h2:text-7xl max-md:prose-h2:text-6xl prose-h2:mt-0 prose-h3:text-6xl max-md:prose-h3:text-5xl prose-h3:mt-0 prose-h4:text-4xl max-md:prose-h4:text-3xl prose-h4:mt-0 prose-h5:text-3xl max-md:prose-h5:text-2xl prose-h5:mt-0 prose-h6:text-2xl max-md:prose-h6:text-xl prose-h6:mt-0 text-black;
  ul {
    li {
      @apply marker:text-orange;
    }
  }
  p {
    a {
      @apply hover:opacity-80;
    }
  }
  &.type-two {
    @apply prose-p:text-xl max-md:prose-p:text-base prose-ul:text-xl max-md:prose-ul:text-base prose-ol:text-xl max-md:prose-ol:text-base;
  }
}

// Career block

.career-block-wrap {
  &.lightblue-bg {
    @apply bg-lightblue;
    .c-item {
      @apply bg-white;
      &:hover {
        @apply bg-darkblue;
      }
    }
  }
}

// Select 2

body {
  .select2.select2-container.select2-container--default.select2-container--below {
    .select2-selection__rendered {
      @apply text-black;
    }
    &.select2-container--open {
      .select2-selection__rendered {
        @apply text-black;
      }
    }
  }
  .select2-container--default .select2-results > .select2-results__options {
    box-shadow: 0px 5px 8px rgba(29, 60, 87, 0.1);
  }
  .select2-container {
    width: 100% !important;
    &.select2-container--default {
      .select2-selection--single {
        @apply bg-transparent border-0 border-b border-opacity-20 border-white h-16  flex items-center px-8;
        .select2-selection__arrow {
          @apply top-[2.188rem]  right-[1.3rem];
          b {
            @apply relative border-none;
            &:after {
              font-family: "icomoon";
              @apply absolute -top-[1.263rem] text-[0.475rem];
              content: "\e908";
            }
          }
        }
      }
      .select2-results__option--highlighted.select2-results__option--selectable {
        @apply bg-white text-black;
      }
    }
    .select2-selection--single .select2-selection__rendered {
      white-space: nowrap;
      text-overflow: ellipsis;
      @apply text-base text-black max-w-[18.75rem] overflow-hidden capitalize pl-0;
    }
    .select2-dropdown {
      border: none !important;
      border-bottom-left-radius: mix.rem(20);
      border-bottom-right-radius: mix.rem(20);
      @apply -translate-x-[0.625rem] bg-white text-black rounded-none left-[0.625rem];
      .select2-results__option--selected {
        @apply bg-white text-black;
      }
      .select2-results__option--selectable,
      .select2-results__option--disabled {
        font-size: mix.rem(15);
        padding: mix.rem(8) mix.rem(30);
        text-transform: capitalize;
        border-top: 1px solid #e8eef1;
        @apply capitalize border-t;
        &:hover {
          @apply bg-lightblue;
        }
      }
    }
  }
}

.select-wrap {
  .select2-container {
    &.select2-container--default {
      .select2-selection--single {
        padding-left: 0px !important;
      }
    }
  }
}

// Sticky image block

.sticky-img-block {
  &.type-two {
    @apply bg-aliceblue pt-[6.25rem] pb-[10rem];
  }
}

// News or events details

.detail-section {
  .text-block,
  .quote-block,
  .video-block,
  .time-table-block {
    @apply px-[20%] max-lg:px-[10%] max-sl:px-5;
  }
  .gallery-slider {
    @apply px-16 max-xl:px-5 pt-7 pb-10;
  }
}

// Toast message

.toast-message {
  @apply fixed right-4 bottom-4 left-4 w-[90%] z-50 flex text-center p-4 text-white text-base rounded-md bg-darkblue m-auto items-center justify-center;
}

.years-wrapper {
  @apply flex justify-start overflow-hidden;
  h2 {
    will-change: transform;
    //animation: move-rtl 6000ms linear infinite;
    @apply font-normal px-10 whitespace-nowrap uppercase text-[6.25rem] max-sl:text-7xl text-darkblue/10;
    &:after {
      @apply absolute content-[''] w-2 inline-block bg-darkblue/10 h-2 right-0 top-1/2 -translate-y-1/2;
    }
  }
}

// @keyframes move-rtl{
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }

// ham Menu

.ham-menu {
  @apply opacity-0 pointer-events-none transition-all duration-700 [&.active]:opacity-100 [&.active]:pointer-events-auto absolute w-[34rem] right-0 bg-purple/75  backdrop-blur-[10px] backdrop-brightness-[1.2] rounded-2xl top-24 px-10 py-8 shadow-2xl shadow-darkblue/10 max-lg:hidden;
  ul {
    @apply text-navyblue flex flex-col;
    li {
      @apply border-b-[1px] border-lightblue;
      &:last-child {
        @apply border-none;
        a {
          //@extend .primary-btn;
        }
      }
      a {
        &:not(.primary-btn) {
          @apply text-xl font-medium py-4 block   relative hover:after:bg-darkpurple after:content-[''] after:duration-700 after:transition-all after:w-2.5 after:h-2.5 after:bg-navyblue after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2;
        }
      }
    }
  }
}

body.mobile-tablet-device {
  .ham-menu {
    @apply hidden;
  }
}

// Mega Menu

#menu-main-menu-header-1 > li > a > .icon-arrow-down {
  @apply text-[0.45rem] ml-2 relative -top-[1px];
}

#menu-main-menu-header-1 > li > a {
  @apply relative  after:content-[''] after:rounded-full after:-bottom-3 after:duration-700 after:transition-all after:w-1.5 after:h-1.5 after:bg-darkpurple after:opacity-0 after:absolute after:right-1/2 after:translate-y-1/2 hover:text-darkpurple;
}

#menu-main-menu-header-1 > li.current-menu-item > a,
#menu-main-menu-header-1 > li.current-menu-ancestor > a,
#menu-main-menu-header-1 > li.current-menu-parent > a {
  @apply after:opacity-100;
}

#menu-main-menu-header-1 > li {
  //@apply after:content-[''] after:absolute after:w-full after:z-10 after:top-[16px] after:h-20 after:bg-red-100 after:left-1/2  after:-translate-x-1/2 after:translate-y-10;
  &.active {
    .mega-menu-wrapper {
      @apply opacity-100 pointer-events-auto;
    }
  }
}

.mega-menu-wrapper {
  @apply absolute w-full bg-white left-1/2  -translate-x-1/2 translate-y-10 z-10 h-[35rem] overflow-hidden flex rounded-2xl shadow-2xl shadow-darkblue/10 transition-all duration-700 opacity-0 pointer-events-none;
  a {
    @apply cursor-pointer;
  }
  .menu-content {
    @apply py-8 pl-5 pr-10 w-[23%] relative bg-darkblue;
    h3 {
      @apply text-3xl mb-5;
    }
    p {
      @apply font-normal opacity-80;
    }
    img {
      @apply absolute -left-[40%] -bottom-[17%] w-[38rem] scale-125;
    }
  }
  .menu-list {
    @apply w-[77%] relative;
  }
  .sub-menu {
    @apply w-[calc(33.333%+1px)] bg-white relative h-full text-black border-r-[1px] border-lightblue  z-20;
    li {
      @apply w-full;
      &:last-child {
        a {
          @apply border-b-[1px];
        }
      }
      a {
        @apply py-4 px-6 block border-b-[0.5px]  border-t-[0.5px] border-lightblue relative transition-all duration-700 hover:bg-aliceblue hover:opacity-100 hover:border-aliceblue after:content-[''] after:duration-500 after:transition-all after:w-0 after:bg-orange after:absolute after:top-0 after:h-full after:left-0 hover:after:w-1;
        .icon-arrow-down {
          @apply absolute right-5 text-[0.65rem] top-[40%] translate-x-[25%] -rotate-90;
        }
      }
      &:hover {
        ul {
          @apply opacity-100 pointer-events-auto;
          ul {
            @apply opacity-0 pointer-events-none;
          }
        }
      }
      ul {
        @apply absolute h-full w-full left-[calc(100%+1px)] top-0 transition-all duration-700 opacity-0 pointer-events-none;
        li {
          @apply w-full;
          &:hover {
            ul {
              @apply opacity-100 pointer-events-auto;
            }
          }
        }
      }
    }
  }
  .image-hover {
    @apply w-1/3 absolute right-0 top-0 h-full  z-10;
    img {
      @apply h-full object-cover transition-all duration-700 opacity-0;
      &.active {
        @apply opacity-100;
      }
    }
  }
}

.menu-active {
  .menu-overlay {
    @apply opacity-100 pointer-events-auto;
  }
}

// Form

body {
  .default-form {
    .gform_wrapper.gravity-theme legend {
      @apply hidden;
    }
    .gform_wrapper.gravity-theme .ginput_complex input,
    .gform_wrapper.gravity-theme input[type="text"],
    .gform_wrapper.gravity-theme input[type="email"],
    .gform_wrapper.gravity-theme input[type="file"],
    .gform_wrapper.gravity-theme input[type="tel"],
    .gform_wrapper.gravity-theme textarea {
      @apply w-full border-none p-5 m-0 rounded-none shadow-none text-black h-16 bg-darkblue/10 outline-none;
    }
    .gform_wrapper.gravity-theme input[type="tel"] {
      @apply ml-[9.688rem] w-[calc(100%-9.688rem)];
      padding-left: mix.rem(20) !important;
    }
    .gform_wrapper.gravity-theme {
      .gfield--type-phone {
        .gfield_label {
          @apply left-[10.85rem];
        }
      }
    }
    .iti--show-selected-dial-code.iti--show-flags .iti__selected-dial-code {
      @apply mr-2.5;
    }
    .iti__selected-country {
      @apply w-[8.75rem] justify-center gap-1.5 bg-darkblue/10;
    }
    .iti__arrow {
      @apply relative text-[0] border-none;
      &::after {
        font-family: "icomoon" !important;
        content: "\e908";
        @apply absolute text-[0.5rem] -top-1.5 right-0;
      }
    }
    .iti--inline-dropdown .iti__dropdown-content {
      @apply border-none shadow-2xl rounded-none;
    }
    .gform_wrapper.gravity-theme textarea {
      @apply min-h-[23rem] max-md:min-h-[8rem] max-md:max-h-[8rem];
    }
    .gform_wrapper.gravity-theme .gfield_label {
      @apply font-normal text-black/50 text-[1.125rem] transition-all duration-300 absolute top-5 left-5 pointer-events-none;
    }
    .gfield {
      @apply relative;
      &.active,
      &.gfield--type-select,
      &.gfield--type-fileupload {
        .gfield_label {
          @apply text-[0.875rem] top-1;
        }
      }
    }
    .iti {
      @apply w-full;
    }

    .gform_wrapper.gravity-theme input[type="file"] {
      @apply text-[0.75rem] pt-8;
    }

    .gform_wrapper.gravity-theme .gfield_description {
      @apply pt-0;
    }

    .gform_wrapper.gravity-theme .gform_fields {
      @apply max-md:gap-5;
    }

    .gform_wrapper.gravity-theme .gform_validation_errors {
      @apply bg-transparent p-0 border-none shadow-none text-left mb-5 text-[0.875rem];
    }

    .gform_wrapper.gravity-theme .gfield_validation_message,
    .gform_wrapper.gravity-theme .validation_message {
      @apply bg-transparent p-0 border-none shadow-none text-left mb-0 text-[0.875rem] font-medium;
    }

    .button {
      @apply mt-6 max-md:mt-0 mb-0 rounded-full bg-darkblue font-medium text-white cursor-pointer duration-700 transition-all w-auto h-auto px-6 py-2.5 hover:bg-orange;
    }
    .select2-container.select2-container--default .select2-selection--single {
      @apply bg-darkblue/10 rounded-none pl-5 pt-2.5;
    }

    &.blue {
      .gform_wrapper.gravity-theme .ginput_complex input,
      .gform_wrapper.gravity-theme input[type="text"],
      .gform_wrapper.gravity-theme input[type="email"],
      .gform_wrapper.gravity-theme input[type="file"],
      .gform_wrapper.gravity-theme input[type="tel"],
      .gform_wrapper.gravity-theme textarea {
        @apply text-white  bg-white/10;
      }
      .gform_wrapper.gravity-theme .gfield_label,
      .gform_wrapper.gravity-theme .gfield_description,
      .select2-container
        .select2-selection--single
        .select2-selection__rendered,
      .select2.select2-container.select2-container--default.select2-container--below.select2-container--open
        .select2-selection__rendered {
        @apply text-white/50 border-none;
      }
      .select2-container.select2-container--default .select2-selection--single,
      .iti__selected-country {
        @apply bg-white/10 border-none text-white/50;
      }
      .gform_wrapper.gravity-theme textarea {
        @apply min-h-[8rem] max-h-[8rem];
      }
      .iti__arrow,
      .select2-container.select2-container--default
        .select2-selection--single
        .select2-selection__arrow
        b:after {
        @apply text-white;
      }
      .button {
        @apply bg-white text-darkblue hover:bg-orange hover:text-white mt-3;
      }
      .gform_wrapper.gravity-theme .gform_fields {
        @apply gap-5;
      }
    }
  }
}

// Scroll disabled

.popup-active,
.no-scroll {
  @apply overflow-hidden;
}

// Download Card
.common-listing {
  .download-item {
    @apply bg-aliceblue;
  }
}

// Heading remove br
h2,
h3,
h4,
h5,
h6 {
  br {
    @apply max-md:hidden;
  }
}

// Lenis
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

//$container-width: 172.8rem;
$container-width: 192rem; //resolve in 192x12.5px(fontsize) = 2400px

.heading .g-lines {
  margin-bottom: -0.2em;
  overflow: hidden;
}

.home-part {
  // background-color: #eaeef0;

  .line {
    opacity: 1;
    transform: unset;
  }
}
// webgl
#webgi-canvas {
  width: 100%;
  height: 100%;
  opacity: 0;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  // z-index: 999999;
  // transform: scale(1.2);

  model-viewer,
  canvas {
    opacity: 0;
    position: absolute;
  }

  &:after {
    // display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    // background: linear-gradient(180deg, #1c1c1c 0%, #000 100%);
    background: rgb(0 0 0 / 50%);
    // opacity: 0.5;
  }
}

// Header
.header__logo {
  // height: 4.2rem;
  margin-right: auto;
  transition: height 0.4s;
  display: flex;
}
//
@mixin lg {
  @media screen and (max-width: $lg-min) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: $md-max) {
    @content;
  }
}
@mixin md-up {
  @media screen and (min-width: $md-min) {
    @content;
  }
}
// tablet
@mixin sm {
  @media screen and (max-width: $sm-max) {
    @content;
  }
}
@mixin sm-up {
  @media screen and (min-width: $sm-min) {
    @content;
  }
}
// mobile
@mixin xs {
  @media screen and (max-width: $xs-max) {
    @content;
  }
}
//Header
$cl-placeholder: #7a7a7a;
$cl-sub: #1d1d1d;
$cl-dark-sub: #bcbcbc;
$cl-txt: #151515;
$cl-dark-txt: #e9e9e9;
$cl-note: #b8b8b8;
$cl-body: #4b4b4b;
$cl-white: #ffffff;
$cl-orange: #ff471d;
$cl-dark-orange: #eb2c00;
$cl-desc: #9a9a9a;
$cl-bg: #eaeef0;
$cl-bg-grey: #f5f5f5;
$cl-dark-bg: #212121;
$cl-disable: #dbdbdb;
$dur-default: 400ms;
$txtSizes: 12, 14, 16, 18, 20, 24, 28, 36;

$xs-min: 477px;
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1728px;

$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
.header {
  --header-txt: 0, 0, 0;
  --header-orange: 255, 71, 29;
  &.on-scroll {
    //--header-txt: 0,0,0;
    // --header-orange: 255, 71, 29;
  }
  &.dark-mode {
    --header-txt: 255, 255, 255;
  }
  // background-color: rgba(var(--header-bg), 0);
  // padding: 3.2rem 0;
  // display: flex;
  // align-items: center;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 991;
  // transition: all $dur-default ease;
  // .container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  &__typo-1,
  &__typo-2 {
    overflow: hidden;
    display: flex;
    transition: all 0.4s linear;
  }
  &__logo {
    // display: inline-block;
    // height: 4.2rem;
    // margin-right: auto;
    // display: flex;
    transition: height $dur-default ease;
    &-shape {
      display: grid;
      grid-template-columns: 1fr;
      margin-right: 1.18rem;
      position: relative;
      z-index: 2;
      &-top {
        grid-area: 1/2/1/2;
        color: #fff;
      }
      &-bottom {
        grid-area: 1/2/1/2;
        color: #fb9e3f;
      }
    }
    &-letter {
      position: relative;
      z-index: 1;
      color: #fff;
      transition: all 0.4s;
    }
    svg {
      height: 100%;
      width: auto;
      path {
        transition: color $dur-default ease;
      }
    }
  }

  &.on-scroll {
    .header {
      &__typo-1 {
        transform: translateX(-2rem);
      }
      &__typo-2 {
        transform: translateX(-2rem);
      }
      &__logo {
        &-letter {
          opacity: 0;
          &.letter-c,
          &.letter-a,
          &.letter-r,
          &.letter-g,
          &.letter-o {
            transform: translateX(-3rem);
          }
          &.letter-k,
          &.letter-i,
          &.letter-t,
          &.letter-e {
            transform: translateX(-2rem);
          }
        }
        &:hover {
          .header__logo-letter {
            opacity: 1;
            transform: translateX(0rem);
          }
          .header {
            &__typo-1,
            &__typo-2 {
              transform: translateX(0);
            }
          }
        }
      }
      &__links {
        background-color: #f6f6f6;
        margin-right: 0.8rem;
        &-inner {
          padding: 0 2.4rem;
          max-width: 5rem;
          column-gap: 6.4rem;
          transition-delay: 0ms;
        }
        &-toggle {
          &-icon {
            transform: scaleX(1);
            transform-origin: left;
            opacity: 1;
            transition-delay: calc(
              $dur-default / 4 + (40ms * var(--link-delay-index))
            );
            &:nth-child(1) {
              --link-delay-index: 5;
            }
            &:nth-child(2) {
              --link-delay-index: 4;
            }
            &:nth-child(3) {
              --link-delay-index: 3;
            }
            &:nth-child(4) {
              --link-delay-index: 2;
            }
            &:nth-child(5) {
              --link-delay-index: 1;
            }
          }
        }
        .header__link {
          opacity: 0;
          transform: translateX(2rem);
          transition-delay: calc(
            $dur-default / 4 + (40ms * var(--link-delay-index))
          );
        }
        &:hover {
          width: auto;
          overflow: visible;
          .header__links-inner {
            padding: 0 3.2rem;
            max-width: calc(var(--default-width) + 6.4rem - (4 * 0.8rem));
          }
          .header__links-toggle {
            &-icon {
              transform: scaleX(0);
              opacity: 1;
              transform-origin: right;
              transition-delay: calc(40ms * var(--ic-delay-index));
              &:nth-child(1) {
                --ic-delay-index: 3;
              }
              &:nth-child(2) {
                --ic-delay-index: 2;
              }
              &:nth-child(3) {
                --ic-delay-index: 1;
              }
            }
          }
          .header__link {
            opacity: 1;
            transform: translateX(0);
            transition-delay: calc(
              $dur-default / 4 + (40ms * var(--link-delay-index))
            );
            &:nth-child(1) {
              --link-delay-index: 5;
            }
            &:nth-child(2) {
              --link-delay-index: 4;
            }
            &:nth-child(3) {
              --link-delay-index: 3;
            }
            &:nth-child(4) {
              --link-delay-index: 2;
            }
            &:nth-child(5) {
              --link-delay-index: 1;
            }
          }
        }
      }
    }
  }

  &.on-scroll {
    &.dark-mode {
      .header__links {
        background-color: rgba($cl-white, 0.05);
      }
    }
  }
  &.mix-mode {
    .header {
      &__logo {
        &-shape {
          &-top {
            color: rgba(255, 255, 255, 1) !important;
          }
          &-bottom {
            color: rgba(255, 255, 255, 1) !important;
          }
        }
        &-letter {
          color: rgba(255, 255, 255, 1) !important;
        }
      }
    }
  }
  &.invert-mode {
    .header {
      &__logo {
        &-shape {
          &-top {
            color: rgba(255, 255, 255, 1) !important;
          }
          &-bottom {
            color: rgba(255, 255, 255, 1) !important;
          }
        }
        &-letter {
          color: rgba(255, 255, 255, 1) !important;
        }
      }
    }
    .header__btn {
      background-color: #1d1d1d;
      &::before {
        background-color: #323232;
      }
      &::after {
        background-color: #232323;
      }
    }
  }
}

@include md {
  .header {
    // padding: 4rem 0;
    &__logo {
      margin-right: 0.9rem;
    }
    &_act {
      margin-left: auto;
    }
    &__btn {
      padding: 1.1rem 2rem;
      font-size: 1.4rem;
      height: 5rem;
    }
    &__links {
      display: none;
    }

    &.dark-mode {
      .header__toggle {
        background: rgba($cl-white, 0.05);
      }
    }
  }
}

@include sm {
  .header {
    // padding: 2rem 0;
    &__logo {
      height: 2.6rem;
    }
    &__typo-1,
    &__typo-2 {
      height: 100%;
    }
    &_act {
      display: none;
    }
    // &__toggle {
    //   margin-left: 0;
    //   @include size(4rem);
    //   top: 0;
    //   &-icon {
    //     &-1 {
    //       width: 1.8rem;
    //     }
    //     &-2 {
    //       width: 1.8rem;
    //     }
    //     &-3 {
    //       width: 1rem;
    //     }
    //   }
    // }
    &.open-nav {
      .header__toggle {
        background-color: rgba($cl-white, 0);
      }
    }
    &__nav {
      position: fixed;
      inset: 0;
      padding: 2rem 2rem;
      overflow-y: auto;
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      // @include transform(none);
      transform: none;
      transition: 0.4s ease-out 0.5s;
      opacity: 1;
      &-item {
        width: 100%;
        .txt-16 {
          font-size: 1.4rem;
        }
        &:last-child {
          display: block;
          grid-column: 1/4;
          grid-row: 5/6;
          margin-top: 6.2rem;
          margin-bottom: 8.7rem;
        }
      }
      &-link {
        padding: 1rem;
      }
      // &-cta {
      //   --nav-delay-index: 0;
      //   position: relative;
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   font-size: 2.4rem;
      //   padding: 2rem;
      //   clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      //   background-color: $cl-orange;
      //   opacity: 0;
      //   transition: opacity 0.6s ease-out
      //       (
      //         calc(
      //           var(--nav-trans-dur) +
      //             (var(--nav-delay-stagger) * var(--nav-delay-index))
      //         )
      //       ),
      //     clip-path 0.4s ease-out
      //       (
      //         calc(
      //           var(--nav-trans-dur) +
      //             (var(--nav-delay-stagger) * var(--nav-delay-index))
      //         )
      //       );
      //   .arr-ic-main {
      //     @include size(2rem);
      //   }
      // }
    }
    &.on-scroll {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &.open-nav {
      &.on-scroll {
        .header__nav {
          top: 0;
        }
        .header__toggle {
          top: 0rem;
          transition: top 0.3s ease-out;
        }
      }
      .header__nav {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s ease-out;
        &-cta {
          --nav-delay-index: 6;
          opacity: 1;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          transition: opacity 0.4s ease-out
              (
                calc(
                  var(--nav-trans-dur) +
                    (var(--nav-delay-stagger) * var(--nav-delay-index))
                )
              ),
            clip-path 0.5s ease-out
              (
                calc(
                  var(--nav-trans-dur) +
                    (var(--nav-delay-stagger) * var(--nav-delay-index))
                )
              );
        }
      }
    }
    &.on-hide {
      //@include transform(translateY(-100%) !important);
    }
    &.mix-mb-mode {
      .header {
        &__logo {
          &-shape {
            &-bottom {
              color: rgba(255, 255, 255, 1) !important;
            }
          }
          &-letter {
            color: rgba(255, 255, 255, 1) !important;
          }
        }
      }
    }
  }
}
// image shape block
.images_shape_move_container {
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  bottom: 0;
}
.shape_contaner {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/services/service-landing-text-mask.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.shape_contaner .img2 {
  z-index: 1;
}
//testimonial
.sticky-over {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1025px) {
  .sticky-scroll {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}
@media (min-width: 576px) {
  .sticky-scroll {
    right: 2.625vw;
  }
}
.sticky-scroll {
  position: absolute;
  width: 8px;
  height: 100vh;
  top: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 2.625vw;
  display: none;
}
.custom-scroll-el {
  background: hsla(0, 0%, 100%, 0.1);
  width: 8px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
}
.custom-scroll-el-scroller {
  background: #545cff;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
@media (min-width: 1025px) {
  .sticky-over section {
    min-height: 100vh;
  }
}
@media (min-width: 768px) {
  .bg-gradient-sides {
    background-image: -webkit-radial-gradient(
        -30% 21%,
        circle,
        #545cff 0,
        transparent 30%
      ),
      -webkit-radial-gradient(120% 80%, circle, #545cff 0, transparent 30%);
    background-image: -o-radial-gradient(
        -30% 21%,
        circle,
        #545cff 0,
        transparent 30%
      ),
      -o-radial-gradient(120% 80%, circle, #545cff 0, transparent 30%);
    background-image: radial-gradient(
        circle at -30%,
        at 21%,
        #545cff 0,
        transparent 30%
      ),
      radial-gradient(circle at 120%, at 80%, #545cff 0, transparent 30%);
    background-image: radial-gradient(
        circle at -30% 21%,
        #545cff 0,
        transparent 30%
      ),
      radial-gradient(circle at 120% 80%, #545cff 0, transparent 30%);
  }
}
.bg-gradient-sides {
  background-image: -webkit-radial-gradient(
      -30% 10%,
      circle,
      #545cff 0,
      transparent 220px
    ),
    -webkit-radial-gradient(120% 90%, circle, #545cff 0, transparent 220px);
  background-image: -o-radial-gradient(
      -30% 10%,
      circle,
      #545cff 0,
      transparent 220px
    ),
    -o-radial-gradient(120% 90%, circle, #545cff 0, transparent 220px);
  background-image: radial-gradient(
      circle at -30%,
      at 10%,
      #545cff 0,
      transparent 220px
    ),
    radial-gradient(circle at 120%, at 90%, #545cff 0, transparent 220px);
  background-image: radial-gradient(
      circle at -30% 10%,
      #545cff 0,
      transparent 220px
    ),
    radial-gradient(circle at 120% 90%, #545cff 0, transparent 220px);
}
.bg-dark {
  background-color: #111;
  color: #fff;
}
