// webgl
// #webgi-canvas {
//   width: 100%;
//   height: 100%;
//   opacity: 0;
// }

// #webgi-canvas-container {
//   width: 100vw;
//   height: 100vh;
//   position: fixed;
//   top: 0;
//   left: 0;
//   pointer-events: none;
//   z-index: -1;
//   // z-index: 999999;
//   // transform: scale(1.2);

//   model-viewer,
//   canvas {
//     opacity: 0;
//     position: absolute;
//   }

//   &:after {
//     // display: none;
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 5;
//     // background: linear-gradient(180deg, #1c1c1c 0%, #000 100%);
//     background: rgb(0 0 0 / 50%);
//     // opacity: 0.5;
//   }
// }

model-viewer {
  --poster-color: transparent;
  --progress-bar-color: transparent;
  --default-progress-mask-color: transparent;
  --progress-mask: transparent;
}
.img-holder model-viewer {
  width: 101% !important;
  height: 101% !important;
}
// #3d
